@charset "utf-8";
/* color list
#0AB3AE
#5EBFBA
#6A718D
#EA6057
#E74144
#F09219
#F7BB0D
*/
.tsumiki-logo {
  background: #fff;
  width: 512px;
  margin: 0 auto;
  -webkit-transform: scale(1, 1.2) translateX(25%) translateY(15%);
  -ms-transform: scale(1, 1.2) translateX(25%) translateY(15%);
  transform: scale(1, 1.2) translateX(25%) translateY(15%);
}
.cube {
  width: 256px;
  height: 256px;
  position: relative;
}
.cube-green {
  background: #0ab3ae;
  z-index: 2;
  -webkit-transform: rotate(22.5deg) skew(-45deg) scale(1, 0.7);
  -ms-transform: rotate(22.5deg) skew(-45deg) scale(1, 0.7);
  transform: rotate(22.5deg) skew(-45deg) scale(1, 0.7);
/*-webkit-animation-play-state running*/
/*animation-play-state running*/
}
.cube-red {
  background: #ea6057;
  z-index: 1;
  -webkit-transform: rotate(22.5deg) skew(-45deg) scale(1, 0.7) translateY(-82%) translateX(-81%);
  -ms-transform: rotate(22.5deg) skew(-45deg) scale(1, 0.7) translateY(-82%) translateX(-81%);
  transform: rotate(22.5deg) skew(-45deg) scale(1, 0.7) translateY(-82%) translateX(-81%);
}
.cube-yellow {
  background: #f09219;
  z-index: 2;
  -webkit-transform: rotate(22.5deg) skew(-45deg) scale(1, 0.7) translateY(-164%) translateX(-162%);
  -ms-transform: rotate(22.5deg) skew(-45deg) scale(1, 0.7) translateY(-164%) translateX(-162%);
  transform: rotate(22.5deg) skew(-45deg) scale(1, 0.7) translateY(-164%) translateX(-162%);
}
.cube-modi::before,
.cube-modi::after {
  content: "";
  display: block;
  position: absolute;
  width: 128px;
  height: 128px;
/*opacity 0*/
/*-webkit-animation-play-state running*/
/*animation-play-state running*/
}
.cube-green::before {
  background: #5ebfba;
  top: 0;
  left: 0;
}
.cube-green::after {
  background: #6a718d;
  bottom: 0;
  right: 0;
}
.cube-yellow::before {
  background: #e74144;
  top: 0;
  left: 0;
}
.cube-yellow::after {
  background: #f7bb0d;
  bottom: 0;
  right: 0;
}
