@charset "utf-8";
.tsumiki-logo {
  margin: 0;
  padding: 0;
  border: none;
  font-size: 10px;
  outline: none;
  margin-left: 128px;
}
.cube {
  margin: 0;
  margin-bottom: -165px;
  padding: 0;
  border: none;
  font-size: 10px;
  outline: none;
  width: 256px;
  height: 256px;
  -webkit-transform: scaleX(1) scaleY(0.5) rotate(45deg);
  -ms-transform: scaleX(1) scaleY(0.5) rotate(45deg);
  transform: scaleX(1) scaleY(0.5) rotate(45deg);
  position: relative;
}
.cube:before {
  content: "";
  display: block;
  position: absolute;
  width: 128px;
  height: 128px;
  top: 0;
  left: 0;
}
.cube:after {
  content: "";
  display: block;
  position: absolute;
  width: 128px;
  height: 128px;
  top: 128px;
  left: 128px;
}
.cube-first {
  background: linear-gradient(to right, #5ebfba 0%, #5ebfba 128px, #5ebfba 128px, #5ebfba 128px);
  z-index: 2;
}
.cube-first:before {
  background: #0ab3ae;
}
.cube-first:after {
  background: #6a718d;
}
.cube-second {
  background: linear-gradient(to right, #ea6057 0%, #ea6057 128px, #ea6057 128px, #ea6057 128px);
  z-index: 1;
}
.cube-second:before {
  display: none;
}
.cube-second:after {
  display: none;
}
.cube-third {
  background: linear-gradient(to right, #f09219 0%, #f09219 128px, #f09219 128px, #f09219 128px);
  z-index: 2;
}
.cube-third:before {
  background: #e74144;
}
.cube-third:after {
  background: #f7bb0d;
}
